In [7]:

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10000)

file_path = 'C:\\_TEMP\\advent\\day1\\input.txt'
df = pd.read_csv(file_path, header=None, skip_blank_lines=False)

df.columns = ['energy']

df['elf_inc'] = np.where(df['energy'].isna(), 1, 0)
df['elf_nbr'] = df['elf_inc'].cumsum()
df.dropna()
df = df[['elf_nbr', 'energy']]
df_result = df.groupby('elf_nbr').sum().sort_values('energy', ascending=False)

df_result.head(10)

          energy
elf_nbr
150      69912.0
35       69741.0
210      68527.0
148      67801.0
239      67669.0
97       66764.0
7        65428.0
157      65129.0
61       63509.0
159      63210.0

In [8]:
df_top3 = df_result.head(3)
df_top3['energy'].sum()

208180.0